[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-nmap = "*"
psutil = "*"
speedtest-cli = "*"
netifaces = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.13"
